MISTRAL_API_KEY=YOUR_MISTRAL_KEY
ELEVENLABS_API_KEY=YOUR_ELEVENLABS_KEY

#AWS CONFIG
AWS_BEARER_TOKEN_BEDROCK=YOUR_AWS_BEARER_TOKEN
OPENAI_API_KEY=YOUR_AWS_OPENAI_API_KEY
OPENAI_BASE_URL=YOUR_AWS_OPENAI_BASE_URL